In [7]:
wearables = 'glasses'

In [2]:
girl = 'female'

In [8]:
if girl == 'female':
    if wearables == 'glasses':
        print("She's Salima")

She's Salima

In [9]:
if girl == 'female' and wearables == 'glasses':
        print("She's Salima")

She's Salima

In [10]:
# this is a comment

In [12]:
'''
Documentation:

This file belongs to basic python learning
'''

'\nDocumentation:\n\nThis file belongs to basic python learning\n'

# List

In [27]:
names = ['Tapal', 1, 'Danedar', 110.50]

In [14]:
ind = [0, 1, 2, 3]

In [15]:
ind

[0, 1, 2, 3]

In [30]:
#start = 0
#end = N-1
#length of list - 1   <-- last index

In [28]:
length = len(names)

In [29]:
length - 1

3

In [31]:
# indexing

In [34]:
# list_name[index_no]
names[2]

'Danedar'

In [37]:
names[3]

110.5

In [44]:
names = ["Shahtaj","Nazia",1,"Alishan", "Salima","Noor","Salman"]

In [45]:
names

['Shahtaj', 'Nazia', 1, 'Alishan', 'Salima', 'Noor', 'Salman']

In [46]:
names[2]

1

In [50]:
print("Welcome to PJK AI Class " + str(names[2]))

Welcome to PJK AI Class 1

In [52]:
# Changing of elements
names[2] = 'Malik'

In [53]:
names[2]

'Malik'

In [59]:
to_do = ['Wake up', 'Brush', 'Cloth Changing', 'Breakfast', 'College']

In [60]:
to_do

['Wake up', 'Brush', 'Cloth Changing', 'Breakfast', 'College']

In [61]:
to_do[1] = 'Done'

In [62]:
to_do

['Wake up', 'Done', 'Cloth Changing', 'Breakfast', 'College']

In [63]:
excuses = ["TK", "LR", "TJ"]

In [67]:
excuses.index("TK")

0

In [68]:
excuses.append("KJ")

In [69]:
excuses

['TK', 'LR', 'TJ', 'KJ']

In [73]:
names = names + ["Shahzeb", "Nasurallah"]

In [74]:
names

['Shahtaj',
 'Nazia',
 'Malik',
 'Alishan',
 'Salima',
 'Noor',
 'Salman',
 'Shahzeb',
 'Nasurallah']

In [75]:
additional_std = ["Zeeshan"]

In [76]:
names = names + additional_std

In [77]:
names

['Shahtaj',
 'Nazia',
 'Malik',
 'Alishan',
 'Salima',
 'Noor',
 'Salman',
 'Shahzeb',
 'Nasurallah',
 'Zeeshan']

In [78]:
names[0] = names[(len(names)-1)]

In [80]:
names[(len(names)-1)] = 'Shahtaj'

In [15]:
names = ['Zeeshan',
 'Nazia',
 'Malik',
 'Alishan',
 'Salima',
 'Noor',
 'Salman',
 'Shahzeb',
 'Nasurallah',
 'Shahtaj']

In [16]:
names.insert(0, "Asher")

In [17]:
print(names)

['Asher', 'Zeeshan', 'Nazia', 'Malik', 'Alishan', 'Salima', 'Noor', 'Salman', 'Shahzeb', 'Nasurallah', 'Shahtaj']

In [19]:
names[2:6] # start , N+1  <--  N == Len of list

['Nazia', 'Malik', 'Alishan', 'Salima']

In [22]:
names[0:11]

['Asher',
 'Zeeshan',
 'Nazia',
 'Malik',
 'Alishan',
 'Salima',
 'Noor',
 'Salman',
 'Shahzeb',
 'Nasurallah',
 'Shahtaj']

In [21]:
names[0:]

['Asher',
 'Zeeshan',
 'Nazia',
 'Malik',
 'Alishan',
 'Salima',
 'Noor',
 'Salman',
 'Shahzeb',
 'Nasurallah',
 'Shahtaj']

In [23]:
names[:]

['Asher',
 'Zeeshan',
 'Nazia',
 'Malik',
 'Alishan',
 'Salima',
 'Noor',
 'Salman',
 'Shahzeb',
 'Nasurallah',
 'Shahtaj']

In [28]:
names[:(len(names)-1)]

['Asher',
 'Zeeshan',
 'Nazia',
 'Malik',
 'Alishan',
 'Salima',
 'Noor',
 'Salman',
 'Shahzeb',
 'Nasurallah']

In [30]:
# slicing

# start index = 0
# end index = N + 1

names[2:6]

['Nazia', 'Malik', 'Alishan', 'Salima']

In [31]:
# Deletion

In [32]:
# via index no
del names[2]   # del list_name[index_no]

In [34]:
names[2]

'Malik'

In [35]:
# via value
names.remove("Malik")

In [36]:
names

['Asher',
 'Zeeshan',
 'Alishan',
 'Salima',
 'Noor',
 'Salman',
 'Shahzeb',
 'Nasurallah',
 'Shahtaj']

In [74]:
to_do = [1,2,3,4]

In [58]:
to_do

[1, 2, 3, 4]

In [59]:
tasks_done = []

In [49]:
tasks_done.append(to_do[0])

In [50]:
tasks_done

[1]

In [51]:
to_do.remove(1)

In [52]:
to_do

[2, 3, 4]

In [53]:
tasks_done

[1]

In [60]:
tasks_done.append(to_do.pop())

In [61]:
tasks_done

[4]

In [62]:
tasks_done.append(to_do.pop(1))

In [63]:
tasks_done

[4, 2]

In [65]:
to_do

[1, 2, 3, 4]

In [66]:
tasks_done = []

In [ ]:
tasks_done + to_do.pop()

In [69]:
tasks_done.insert(0, to_do.pop())

In [70]:
tasks_done

[4]

In [68]:
to_do

[1, 2, 3, 4]

In [75]:
tasks_done = tasks_done + [to_do.pop()]

In [76]:
tasks_done

[4, 2, 4]

In [77]:
tasks_done = tasks_done + list(to_do.pop())

TypeError: 'int' object is not iterable

In [81]:
list('name')

['n', 'a', 'm', 'e']