### Dictionary Creation

In [1]:
# Creating a dictionary

# {} curly braces to initialize

# Key-Value Pair

dictionary_demo = {
    'name' : 'ali',
    'roll_number' : 1234
}

In [2]:
dictionary_demo

{'name': 'ali', 'roll_number': 1234}

### Dictionary Value Update

In [3]:
# Update/Change a dictionary
# keep in mind, the keys are immutable
# i.e. once created they cannot be modified

dictionary_demo['name'] = 'Salman Bhai'

In [4]:
dictionary_demo

{'name': 'Salman Bhai', 'roll_number': 1234}

### Dictionary Element Deletion

In [5]:
# Element with regards to dictionary is a key-value pair

del dictionary_demo['roll_number']

In [6]:
dictionary_demo

{'name': 'Salman Bhai'}

### Dictionary Element Insertion

In [7]:
# inserting new element 
# It works like append

dictionary_demo['qualification'] = ['Matric', 'Inter', 'B.Com', 'M.Com']

In [8]:
dictionary_demo

{'name': 'Salman Bhai', 'qualification': ['Matric', 'Inter', 'B.Com', 'M.Com']}

### Dictionary Value Calling

In [10]:
# Pro-Tip: dictionary_demo['Salman Bhai'] <-- Error

dictionary_demo['qualification']

['Matric', 'Inter', 'B.Com', 'M.Com']

### Dictionary Looping

In [11]:
# Looping can be done using three methods;
# 1) Values
# 2) Keys (Default)
# 3) items

In [12]:
for i in dictionary_demo.values():
    print(i)

Salman Bhai
['Matric', 'Inter', 'B.Com', 'M.Com']

In [13]:
for i in dictionary_demo.keys():
    print(i)

name
qualification

In [14]:
# default behavior

for i in dictionary_demo:
    print(i)

name
qualification

In [16]:
# key-value pair calling using loop

for k,v in dictionary_demo.items():
    print(k ," ", v)

name   Salman Bhai
qualification   ['Matric', 'Inter', 'B.Com', 'M.Com']

In [17]:
for i in dictionary_demo.items():
    print(i)

('name', 'Salman Bhai')
('qualification', ['Matric', 'Inter', 'B.Com', 'M.Com'])

### List of Dictionaries

In [18]:
# Allows you to use dictionaries with some benefits of Lists
# for example; indexing and slicing

lst_dicts = [
    {
        'name': 'Ali',
        'roll_number': 1111
    },
    
    {
        'name': 'Salman Bhai',
        'roll_number': 2222
    },
    
    {
        'name': 'Nazia',
        'roll_number': 3333
    },
    
    {
        'name': 'Shahtaj',
        'roll_number': 4444
    },
    
]

In [21]:
lst_dicts

[{'name': 'Ali', 'roll_number': 1111},
 {'name': 'Salman Bhai', 'roll_number': 2222},
 {'name': 'Nazia', 'roll_number': 3333},
 {'name': 'Shahtaj', 'roll_number': 4444}]

In [22]:
# indexing
lst_dicts[1]

{'name': 'Salman Bhai', 'roll_number': 2222}

In [23]:
# slicing
lst_dicts[1:3]

[{'name': 'Salman Bhai', 'roll_number': 2222},
 {'name': 'Nazia', 'roll_number': 3333}]

In [24]:
# Assignment: list of dictionary
# Company Payroll/Salaries
# Employee id --> list index
# list, with 10 elements i.e. 10 dictionaries

### Dictionary of Dictionaries

In [27]:
# Use case (Reason):
# Lists of dictionaries are good to retrieve data using index
# but it has one issue, i.e. if you will delete one element, it will sabotage/destory
# the whole order

# Consider this

In [32]:
bank_acc_holders = [
    {
        'id':0,
        'name': 'Ali',
        'account_number': 0
    },
    
    {
        'id':1,
        'name': 'Salman Bhai',
        'account_number': 1
    },
    
    {
        'id':2,
        'name': 'Nazia',
        'account_number': 2
    },
    
    {
        'id':3,
        'name': 'Shahtaj',
        'account_number': 3
    },
    
]

In [33]:
bank_acc_holders

[{'id': 0, 'name': 'Ali', 'account_number': 0},
 {'id': 1, 'name': 'Salman Bhai', 'account_number': 1},
 {'id': 2, 'name': 'Nazia', 'account_number': 2},
 {'id': 3, 'name': 'Shahtaj', 'account_number': 3}]

Now, as per our data, Nazia has an id 2 therefore, whenever we have to call Nazia's data, we will use index 2
and whenever we will require Shahtaj's data, we will use index 3

In [34]:
bank_acc_holders[2]

{'id': 2, 'name': 'Nazia', 'account_number': 2}

Now, Nazia is going abroad, and she is closing her account

In [35]:
del bank_acc_holders[2]

In [36]:
bank_acc_holders

[{'id': 0, 'name': 'Ali', 'account_number': 0},
 {'id': 1, 'name': 'Salman Bhai', 'account_number': 1},
 {'id': 3, 'name': 'Shahtaj', 'account_number': 3}]

Now, we want Shahtaj's data retrieval

In [38]:
bank_acc_holders[3]

IndexError: list index out of range

In [39]:
bank_acc_holders

[{'id': 0, 'name': 'Ali', 'account_number': 0},
 {'id': 1, 'name': 'Salman Bhai', 'account_number': 1},
 {'id': 3, 'name': 'Shahtaj', 'account_number': 3}]

In [40]:
# Solution: Dictionary of Dictionaries

bank_acc_holders = {
    0:{
        'name': 'Ali',
        'account_number': 0
    },
    
    1:{
        'name': 'Salman Bhai',
        'account_number': 1
    },
    
    2:{
        'name': 'Nazia',
        'account_number': 2
    },
    
    3:{
        'name': 'Shahtaj',
        'account_number': 3
    },
    
}

In [41]:
bank_acc_holders

{0: {'name': 'Ali', 'account_number': 0},
 1: {'name': 'Salman Bhai', 'account_number': 1},
 2: {'name': 'Nazia', 'account_number': 2},
 3: {'name': 'Shahtaj', 'account_number': 3}}

Now, Nazia is going abroad, and she is closing her account

In [42]:
del bank_acc_holders[2]

In [43]:
bank_acc_holders

{0: {'name': 'Ali', 'account_number': 0},
 1: {'name': 'Salman Bhai', 'account_number': 1},
 3: {'name': 'Shahtaj', 'account_number': 3}}

Now, we want Shahtaj's data retrieval

In [44]:
bank_acc_holders[3]

{'name': 'Shahtaj', 'account_number': 3}

### Dictionary of dicitionaries data retrieval

In [45]:
bank_acc_holders[3]['name']

'Shahtaj'